@font-face {
  font-family: 'Raleway-Light';
  src: url("../font/Raleway-Light.ttf"); }
@font-face {
  font-family: 'Raleway-Regular';
  src: url("../font/Raleway-Regular.ttf"); }
@font-face {
  font-family: 'Raleway-Bold';
  src: url("../font/Raleway-Bold.ttf"); }
@font-face {
  font-family: 'Raleway-Black';
  src: url("../font/Raleway-Black.ttf"); }
body h1 {
  font-family: 'Raleway-Light';
  color: #000000;
  font-size: 60px;
  letter-spacing: 8px;
  margin-bottom: 0; }
body .letter-bold {
  font-size: 90px; }
body p {
  font-family: 'Raleway-Light';
  color: #666666;
  font-size: 12px; }
body a:hover {
  text-decoration: none; }

#menubar {
  position: fixed;
  z-index: 1000;
  font-family: Raleway-Light;
  font-size: 1.3em;
  text-align: center;
  width: 104%;
  padding: 1% 3% 0 3%;
  align-items: center;
  left: 0;
  background: #fff;
  height: 100px; }
  #menubar #menu-logo {
    text-align: left;
    font-size: 1rem; }
    #menubar #menu-logo a {
      font-size: 1rem; }
    #menubar #menu-logo img {
      width: 140px; }
      @media screen and (max-width: 768px) {
        #menubar #menu-logo img {
          width: 100px; } }
    @media screen and (max-width: 992px) {
      #menubar #menu-logo #back-btn {
        font-size: 1.5rem; } }
  #menubar #menu-donate-mobile {
    color: #fff;
    background: #d9352c;
    padding: 7px 18px;
    border-radius: 10px;
    font-size: 1rem; }
  #menubar ul {
    border: none; }
    #menubar ul a {
      color: #000000;
      font-size: 1rem;
      transition: all .2s ease-in; }
      #menubar ul a.active {
        color: #d9352c; }
      #menubar ul a:hover {
        color: #d9352c;
        cursor: pointer; }
  #menubar #dropdown-menu li a {
    color: #666; }
  #menubar button {
    border: none;
    background: none; }
    #menubar button:hover {
      cursor: pointer; }
  #menubar .nav-tabs {
    display: flex; }
    #menubar .nav-tabs li {
      flex: 1; }
  #menubar #menu-active {
    color: #d9352c; }
  #menubar #menu-donate {
    background-color: #d9352c;
    color: white;
    padding: 7px 18px;
    border-radius: 12px; }

#mobile-menubar {
  top: 98px;
  z-index: 1001; }
  #mobile-menubar ul li {
    list-style: none; }
    #mobile-menubar ul li a {
      font-weight: 100;
      color: #000; }
      #mobile-menubar ul li a.active {
        color: #d9352c; }
  #mobile-menubar ul .sub-collapse li a {
    color: #666; }

#socialmedia {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  left: 4vw;
  text-align: left; }
  #socialmedia ul {
    list-style: none;
    padding: 0; }
    #socialmedia ul li {
      text-decoration: none;
      margin-top: 25px; }
      #socialmedia ul li img {
        width: 45px; }
        @media screen and (max-width: 768px) {
          #socialmedia ul li img {
            width: 30px; } }

/*Full page js style pagination*/
#fp-nav {
  left: 3.5vw !important;
  margin-left: 10px;
  margin-top: -110px !important; }
  @media screen and (max-width: 768px) {
    #fp-nav {
      margin-left: 0px; } }

.homepage .home-section-1 .fp-tableCell {
  vertical-align: top;
  padding-top: 180px; }
@media screen and (max-width: 768px) {
  .homepage .home-section-1 .title h1 {
    font-size: 1.2rem; } }
.homepage .home-section-1 .title p {
  margin: 35px 0 45px 0; }
.homepage .home-section-1 .bg .row {
  bottom: 0;
  right: 0; }
  .homepage .home-section-1 .bg .row img {
    max-width: 1256px; }
.homepage .home-section-2 .fp-tableCell {
  vertical-align: top;
  padding-top: 180px; }
  @media screen and (max-width: 768px) {
    .homepage .home-section-2 .fp-tableCell {
      padding-top: 140px; } }
@media screen and (max-width: 992px) {
  .homepage .home-section-2 .title h1 {
    font-size: 1rem;
    line-height: 1.5rem; } }
@media screen and (max-width: 992px) {
  .homepage .home-section-2 .title h1 span {
    font-size: 1rem; } }
.homepage .home-section-2 .title p {
  margin: 35px 0 65px 0; }
  @media screen and (max-width: 768px) {
    .homepage .home-section-2 .title p {
      line-height: 1rem; } }
.homepage .home-section-2 .title a {
  border: #d9352c solid 1px;
  border-radius: 20px;
  color: #d9352c;
  font-family: Raleway-Light;
  letter-spacing: 2px;
  padding: 8px 30px; }
  .homepage .home-section-2 .title a:hover {
    background-color: #d9352c;
    color: white;
    text-decoration: none; }
  @media screen and (max-width: 992px) {
    .homepage .home-section-2 .title a {
      font-size: .8rem; } }
.homepage .home-section-2 .title .img-container {
  width: 400px;
  overflow: hidden;
  height: 200px; }
  @media screen and (max-width: 992px) {
    .homepage .home-section-2 .title .img-container {
      width: 300px; } }
  .homepage .home-section-2 .title .img-container img {
    width: 100%; }
@media screen and (max-width: 992px) {
  .homepage .home-section-2 .title .video-container video {
    width: 300px; } }
@media screen and (max-width: 768px) {
  .homepage .home-section-2 .title .video-container video {
    width: 250px;
    height: 160px; } }
.homepage .home-section-2 .video .grey-square {
  position: absolute;
  width: 280px;
  height: 180px;
  top: 340px;
  right: 250px;
  background-color: #e3e3e3; }
.homepage .home-section-2 .video .video-container {
  position: absolute;
  right: 350px;
  top: 300px; }
.homepage .home-section-2 .video .image-container {
  position: absolute;
  width: 280px;
  height: 220px;
  top: 300px;
  right: 40px;
  overflow: hidden; }
  .homepage .home-section-2 .video .image-container img {
    width: 100%; }
.homepage .home-section-3 .fp-tableCell {
  vertical-align: top;
  padding-top: 120px; }
  @media screen and (max-width: 768px) {
    .homepage .home-section-3 .fp-tableCell {
      padding-top: 100px; } }
.homepage .home-section-3 .title h1 {
  width: 60px;
  word-wrap: break-word; }
  @media screen and (max-width: 768px) {
    .homepage .home-section-3 .title h1 {
      font-size: 1.2rem;
      max-width: 1.6rem; } }
.homepage .home-section-3 .title .city-anchor {
  color: #bbbbbb;
  font-size: 10px; }
  @media screen and (max-width: 768px) {
    .homepage .home-section-3 .title .city-anchor {
      max-width: 3.5rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: .5rem; } }
.homepage .home-section-3 .title .news-type {
  font-size: 10px;
  color: white;
  background-color: #d9352c;
  display: inline-block;
  padding: 1px 4px; }
.homepage .home-section-3 .title #top-title-block {
  height: 250px; }
  @media screen and (max-width: 768px) {
    .homepage .home-section-3 .title #top-title-block {
      height: 80px; } }
  .homepage .home-section-3 .title #top-title-block #top-news-title {
    color: #666666;
    margin: 20px 0;
    font-size: 14px;
    max-height: 145px;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical; }
    @media screen and (max-width: 768px) {
      .homepage .home-section-3 .title #top-title-block #top-news-title {
        -webkit-line-clamp: 2;
        margin: 6px 0;
        line-height: 1rem;
        font-size: 12px; } }
.homepage .home-section-3 .title .news-more {
  color: #d9352c;
  border: #d9352c solid 1px;
  border-radius: 50px;
  padding: 5px 20px;
  font-size: 10px; }
  @media screen and (max-width: 768px) {
    .homepage .home-section-3 .title .news-more {
      padding: 0px 12px;
      opacity: .7; } }
  .homepage .home-section-3 .title .news-more:hover {
    background-color: #d9352c;
    color: white;
    text-decoration: none; }
.homepage .home-section-3 .title .top-news {
  max-height: 310px; }
  .homepage .home-section-3 .title .top-news #top-news-image-container {
    width: 100%;
    height: 250px;
    overflow: hidden; }
    .homepage .home-section-3 .title .top-news #top-news-image-container img {
      height: 100%; }
    @media screen and (max-width: 768px) {
      .homepage .home-section-3 .title .top-news #top-news-image-container {
        height: 80px; } }
.homepage .home-section-3 .title .bot-news {
  max-height: 310px;
  margin-top: 40px; }
  @media screen and (max-width: 768px) {
    .homepage .home-section-3 .title .bot-news {
      margin-top: 15px;
      font-size: 12px; } }
  .homepage .home-section-3 .title .bot-news .city-anchor {
    display: inline-block;
    margin-top: 20px; }
    @media screen and (max-width: 768px) {
      .homepage .home-section-3 .title .bot-news .city-anchor {
        margin-top: 8px;
        font-size: .5rem; } }
  .homepage .home-section-3 .title .bot-news .news-type {
    float: right;
    margin-top: 20px; }
    @media screen and (max-width: 768px) {
      .homepage .home-section-3 .title .bot-news .news-type {
        margin-top: 5px; } }
  .homepage .home-section-3 .title .bot-news .news-more {
    float: right; }
    @media screen and (max-width: 768px) {
      .homepage .home-section-3 .title .bot-news .news-more {
        margin-bottom: 10px;
        opacity: .7; } }
  .homepage .home-section-3 .title .bot-news p {
    color: #666666;
    margin: 10px 0 20px 0;
    font-size: 14px;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
    @media screen and (max-width: 768px) {
      .homepage .home-section-3 .title .bot-news p {
        line-height: 1rem;
        margin: 5px 0 5px 0;
        font-size: 12px; } }
  .homepage .home-section-3 .title .bot-news .image-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    object-fit: fill; }
    @media screen and (max-width: 1200px) {
      .homepage .home-section-3 .title .bot-news .image-container {
        height: 120px; } }
    @media screen and (max-width: 992px) {
      .homepage .home-section-3 .title .bot-news .image-container {
        height: 100px; } }
    @media screen and (max-width: 768px) {
      .homepage .home-section-3 .title .bot-news .image-container {
        height: 70px; } }
    .homepage .home-section-3 .title .bot-news .image-container img {
      height: 100%; }
  .homepage .home-section-3 .title .bot-news #badminton {
    width: 100%;
    position: absolute;
    top: 20px; }
  .homepage .home-section-3 .title .bot-news #badminton-shadow {
    margin-top: 60px;
    width: 100%; }
.homepage .home-section-4 .fp-tableCell {
  vertical-align: top;
  padding-top: 140px; }
@media screen and (max-width: 992px) {
  .homepage .home-section-4 .title h1 {
    font-size: 1rem;
    line-height: 1.5rem; } }
@media screen and (max-width: 992px) {
  .homepage .home-section-4 .title h1 span {
    font-size: 1rem; } }
.homepage .home-section-4 .title p {
  max-width: 460px;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; }
.homepage .home-section-4 .title .donate-button {
  background-color: #d9352c;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 20px;
  letter-spacing: 4px;
  font-family: Raleway-Light; }
  .homepage .home-section-4 .title .donate-button:hover {
    opacity: 0.5;
    text-decoration: none; }
  @media screen and (max-width: 768px) {
    .homepage .home-section-4 .title .donate-button {
      font-size: .8rem; } }
.homepage .home-section-4 .title .donate-card {
  box-shadow: #e3e3e3 2px 2px 5px;
  margin-top: 40px;
  padding: 35px 0 40px 35px;
  font-family: Raleway-Light; }
  @media screen and (max-width: 992px) {
    .homepage .home-section-4 .title .donate-card {
      font-size: 1rem;
      padding: 30px 0 15px 30px;
      margin-top: 25px; } }
  @media screen and (max-width: 768px) {
    .homepage .home-section-4 .title .donate-card {
      font-size: 1rem;
      padding: 25px 0 25px 20px;
      margin-top: 25px; } }
  .homepage .home-section-4 .title .donate-card .donate-number {
    font-size: 45px; }
    @media screen and (max-width: 768px) {
      .homepage .home-section-4 .title .donate-card .donate-number {
        font-size: 1.3rem; } }
  .homepage .home-section-4 .title .donate-card .donate-title {
    color: #d9352c;
    font-size: 20px; }
    @media screen and (max-width: 768px) {
      .homepage .home-section-4 .title .donate-card .donate-title {
        font-size: 1rem; } }
.homepage .home-section-4 .title h3 {
  font-family: Raleway-Light;
  color: #666666; }
.homepage .home-section-4 .title .partner-logo {
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px; }
  .homepage .home-section-4 .title .partner-logo img {
    max-width: 100px;
    margin-right: 50px; }
.homepage .home-section-4 #backtotop {
  position: absolute;
  right: 50px;
  bottom: 20px; }
  .homepage .home-section-4 #backtotop a {
    font-family: Raleway-Light;
    font-size: 25px;
    color: #d9352c; }

.nonhome-menubar a {
  color: #000000; }
  .nonhome-menubar a:hover {
    text-decoration: none; }

.aboutuspage .grow-path .fp-tableCell {
  vertical-align: top;
  padding-top: 180px; }
  @media screen and (max-width: 768px) {
    .aboutuspage .grow-path .fp-tableCell {
      padding-top: 120px; } }
.aboutuspage .grow-path h4 {
  font-family: Raleway-Light;
  font-size: 25px;
  color: #666666; }
  @media screen and (max-width: 768px) {
    .aboutuspage .grow-path h4 {
      font-size: 1rem; } }
.aboutuspage .grow-path p {
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; }
  @media screen and (max-width: 768px) {
    .aboutuspage .grow-path p {
      -webkit-line-clamp: 4;
      line-height: 1rem; } }
.aboutuspage .grow-path .grow-path-middleimg {
  overflow-x: hidden;
  height: 500px; }
.aboutuspage .grow-path .president-image-container {
  overflow: hidden;
  width: 100%;
  height: 120px;
  margin-top: 40px; }
.aboutuspage .grow-path #toNextSlide {
  position: absolute;
  right: 50px;
  bottom: 20px; }
  .aboutuspage .grow-path #toNextSlide a {
    font-family: Raleway-Light;
    font-size: 25px;
    color: #d9352c; }
.aboutuspage .contact-us .fp-tableCell {
  vertical-align: top;
  padding-top: 140px; }
@media screen and (max-width: 992px) {
  .aboutuspage .contact-us .title h1 .letter-bold {
    font-size: 1.2rem; } }
@media screen and (max-width: 992px) {
  .aboutuspage .contact-us .title h1 {
    font-size: 1.2rem; } }
.aboutuspage .contact-us .title p {
  color: #666666;
  margin: 30px 0 40px 0; }
  @media screen and (max-width: 768px) {
    .aboutuspage .contact-us .title p {
      line-height: 1rem;
      margin: 10px 0 20px 0;
      overflow-y: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical; } }
.aboutuspage .contact-us .title .contact-info {
  color: #666666;
  font-family: Raleway-Light;
  font-size: 12px;
  margin-bottom: 25px; }
  @media screen and (max-width: 768px) {
    .aboutuspage .contact-us .title .contact-info {
      margin-bottom: 10px; } }
  .aboutuspage .contact-us .title .contact-info img {
    width: 25px;
    margin-right: 25px; }
.aboutuspage .contact-us #map {
  margin-left: 10%;
  width: 90%;
  height: 400px;
  margin-top: 30px; }
  @media screen and (max-width: 992px) {
    .aboutuspage .contact-us #map {
      margin-top: 0px;
      height: 300px; } }
  @media screen and (max-width: 768px) {
    .aboutuspage .contact-us #map {
      margin-top: 20px;
      width: 100%;
      height: 200px;
      margin-left: 0; } }
.aboutuspage .contact-us #backtotop {
  position: absolute;
  right: 50px;
  bottom: 20px; }
  .aboutuspage .contact-us #backtotop a {
    font-family: Raleway-Light;
    font-size: 25px;
    color: #d9352c; }

.aboutuspage .school-project .fp-tableCell {
  vertical-align: top;
  padding-top: 140px; }
.aboutuspage .school-project .school-title h1 {
  padding-bottom: 20px; }
  @media screen and (max-width: 992px) {
    .aboutuspage .school-project .school-title h1 {
      font-size: 1.2rem; } }
.aboutuspage .school-project .content-process .content-process-container {
  align-items: center;
  justify-content: flex-start;
  display: flex; }
  .aboutuspage .school-project .content-process .content-process-container div {
    display: inline-block; }
  .aboutuspage .school-project .content-process .content-process-container .progress-expanded {
    margin: 40px 0 0 80px; }
    @media screen and (max-width: 992px) {
      .aboutuspage .school-project .content-process .content-process-container .progress-expanded {
        margin: 10px 0 0 80px; } }
    .aboutuspage .school-project .content-process .content-process-container .progress-expanded .progress-expanded-number {
      background-color: #d9352c;
      color: white;
      padding: 5px 100px 5px 20px;
      display: inline-block;
      font-family: Raleway-Regular;
      font-size: 50px;
      position: absolute;
      top: 120px;
      left: 0; }
    .aboutuspage .school-project .content-process .content-process-container .progress-expanded .progress-expanded-image {
      width: 300px;
      height: 225px;
      overflow: hidden; }
      .aboutuspage .school-project .content-process .content-process-container .progress-expanded .progress-expanded-image img {
        max-width: 100%; }
    .aboutuspage .school-project .content-process .content-process-container .progress-expanded h5 {
      font-family: Raleway-Light;
      color: #000000;
      font-size: 20px;
      margin: 15px 0; }
    .aboutuspage .school-project .content-process .content-process-container .progress-expanded p {
      width: 300px; }
  .aboutuspage .school-project .content-process .content-process-container .progress-middle-bar {
    width: 120px;
    height: 1px;
    border: 1px solid #000000;
    background-color: #000000;
    margin: 0 25px; }
  .aboutuspage .school-project .content-process .content-process-container .progress-nonexpanded h5 {
    color: #666666;
    font-family: Raleway-Light;
    font-size: 20px; }
.aboutuspage .school-project .content-process .step-trigger .col {
  background: #fff;
  box-shadow: #e3e3e3 2px 2px 5px; }
.aboutuspage .school-project #toNextSlide {
  position: absolute;
  right: 50px;
  bottom: 20px; }
  .aboutuspage .school-project #toNextSlide a {
    font-family: Raleway-Light;
    font-size: 25px;
    color: #d9352c; }
.aboutuspage .community-project .fp-tableCell {
  vertical-align: top;
  padding-top: 120px; }
.aboutuspage .community-project .community-title {
  background-image: url("../images/ref-images/home-s3-1.jpg");
  background-size: cover;
  padding: 0;
  margin-bottom: 30px; }
  .aboutuspage .community-project .community-title h1 {
    color: white;
    background-color: black;
    opacity: 0.5;
    padding: 45px 15px; }
.aboutuspage .community-project .main-content {
  margin-top: 20px; }
  .aboutuspage .community-project .main-content p {
    color: #666666;
    font-family: Raleway-Light; }
  .aboutuspage .community-project .main-content h5 {
    color: #d9352c;
    font-family: Raleway-Regular;
    font-size: 16px; }
  .aboutuspage .community-project .main-content .content-to-right {
    text-align: right; }
  .aboutuspage .community-project .main-content .content-to-left {
    text-align: left;
    margin-left: 30px; }
.aboutuspage .community-project #backtotop {
  position: absolute;
  right: 50px;
  bottom: 20px; }
  .aboutuspage .community-project #backtotop a {
    font-family: Raleway-Light;
    font-size: 25px;
    color: #d9352c; }

.gallery-menubar {
  background-color: white;
  padding-top: 3% !important;
  padding-bottom: 1% !important;
  margin-top: 0 !important; }

.gallerypage {
  overflow: scroll;
  /* clear fix */
  /* ---- .grid-item ---- */ }
  .gallerypage .fp-tableCell {
    vertical-align: top;
    padding-top: 120px; }
  .gallerypage .grid:after {
    content: '';
    display: block;
    clear: both; }
  .gallerypage .grid-sizer,
  .gallerypage .grid-item {
    width: 33.333%;
    padding: 5px; }
  .gallerypage .grid-item {
    float: left; }
  .gallerypage .grid-item img {
    display: block;
    max-width: 100%; }

.publicinfopage .fp-tableCell {
  vertical-align: top;
  padding-top: 180px; }
.publicinfopage h5 {
  font-family: Raleway-Light;
  font-size: 20px;
  margin-bottom: 30px; }
.publicinfopage .donate-card-container {
  padding: 0 30px 0 0;
  margin-bottom: 70px; }
  .publicinfopage .donate-card-container .donate-card {
    box-shadow: #e3e3e3 2px 2px 5px;
    padding: 20px 0 25px 35px;
    font-family: Raleway-Light; }
    .publicinfopage .donate-card-container .donate-card .donate-number {
      font-size: 22px; }
    .publicinfopage .donate-card-container .donate-card .donate-type {
      color: #d9352c;
      font-size: 12px; }
.publicinfopage .total-donate-data {
  margin-bottom: 100px; }
  .publicinfopage .total-donate-data h4 {
    font-family: Raleway-Light;
    font-size: 45px; }
    .publicinfopage .total-donate-data h4 span {
      font-size: 20px;
      color: #d9352c; }
.publicinfopage .final-donate-data {
  padding: 0;
  font-family: Raleway-Light; }
  .publicinfopage .final-donate-data div {
    padding: 0; }
    .publicinfopage .final-donate-data div h4 span {
      font-size: 45px; }
    .publicinfopage .final-donate-data div h4 #money-unit {
      font-family: Raleway-Bold;
      color: #d9352c;
      font-size: 14px; }
    .publicinfopage .final-donate-data div a {
      color: white;
      background-color: #d9352c;
      padding: 10px 30px;
      border-radius: 15px; }

.donatepage {
  font-family: Raleway-Light; }
  .donatepage .fp-tableCell {
    vertical-align: top;
    padding-top: 180px; }
  .donatepage h2 {
    color: white;
    font-size: 35px;
    margin-bottom: 50px; }
  .donatepage p {
    color: white;
    margin-bottom: 30px; }
  .donatepage a {
    color: white;
    background-color: #d9352c;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 15px;
    padding: 8px 0;
    letter-spacing: 5px;
    margin-top: 50px; }
  .donatepage .form-bg {
    background-color: black;
    position: absolute;
    width: 100%;
    opacity: 0.5;
    height: 400px;
    top: 0;
    left: 0; }
  .donatepage .form-volunteer {
    color: white;
    padding: 30px 20px; }
    .donatepage .form-volunteer .title {
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px; }
    .donatepage .form-volunteer button {
      border-radius: 15px;
      border: #d9352c 1px solid;
      color: #d9352c;
      background-color: transparent;
      padding: 3px 0;
      margin-top: 20px; }
      .donatepage .form-volunteer button:hover {
        text-decoration: none;
        background-color: #d9352c;
        color: white; }
    .donatepage .form-volunteer input {
      width: 100% !important;
      margin-bottom: 25px; }
  .donatepage .bg {
    /* The image used */
    background-image: url("../images/donating-bg.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.donate-menubar {
  margin-top: 25px !important; }
  .donate-menubar div {
    color: white; }
  .donate-menubar a {
    color: white; }
    .donate-menubar a:hover {
      text-decoration: none; }

/*# sourceMappingURL=main.css.map */
